
body {
	background-color: #23B2F9;
}

/* STYLING MAIN NAVIGATION BAR */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: none;*/
	/*position: fixed;*/
	/*top:0;*/
	width: 100%;
}

li.grid-main-nav {
	float: left;
}

li.grid-main-nav a {
	display: block;
	color: white;
	text-align: center;
	padding: 1.5rem 1.5rem;
	text-decoration: none;
}



.container {
	margin: 8% 5%;
	margin-top: 0;
	background-color: #FCFCFC;
}