



@media screen and (max-width: 768px) {
	/*Display Burger Menu*/
	.line {
		width: 30px;
		height: 3px;
		margin: 7px;
		border-radius: 3px;
		background: #FCFCFC;
		-webkit-transition: background: 0.2s ease-in-out;
		transition: background: 0.2s ease-in-out;
	}
/*	.line-color-start {
		background: #FCFCFC;
	}
	.line-color-end {
		background: #23B2F9;
	}*/
	nav.nav-bar {
		position: relative;
	}
	.hamburger {
		position: absolute;
		position: fixed;
		cursor: pointer;
		right: 5%;
		top: 5%;
		transform: translate(-5%, -50%);
		z-index: 20;
	}
	ul.nav-links {
		position: fixed;
		background: #23B2F9;
		height: 100vh;
		width: 100vw;
		flex-direction: column;
		-webkit-clip-path: circle(0% at 90% -10%);
		clip-path: circle(0% at 90% -10%);
		transition: all 0.7s ease-in-out;
		pointer-events: none;
	}
	.nav-links.open {
		clip-path: circle(150% at 90% -10%);
		-webkit-clip-path: circle(150% at 90% -10%);
		pointer-events: all;
	}
	li.grid-main-nav {
		opacity: 0;
	}
	a.nav-anchor {
		font-size: 2rem;
	}
	li.grid-main-nav:nth-child(1) {
		transition: all 0.5s ease-in-out 0.25s;
	}
	li.grid-main-nav:nth-child(2) {
		transition: all 0.5s ease-in-out 0.5s;
	}
	li.grid-main-nav:nth-child(3) {
		transition: all 0.5s ease-in-out 0.75s;
	}
	li.fade {
		opacity: 1;
	}
}








