 /*GUIDE:
 Colors:
 	Primary color - dark blue-> color: 23B2F9;
	Secondary Color - light blue-> color: 58D7F9;

	Yellow Highlight: ffdf2b;
	Orange color: fa5914;
	Off White BG: color: #FCFCFC;
*/
/*font-family: 'Quattrocento', serif;*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', 'Helvetica', sans-serif;
}
html{
	scroll-behavior: smooth;
}
body {
	background-color: #FCFCFC;
}
/*removed h4 from below?*/
h1, h2, h3 {
	font-family: 'Quattrocento', serif;
	/*font-weight: 400;*/
}

/* SETTING BACKGROUND COLOR - DIV CONTAINER HOLDING EVERYTHING ON PAGE*/
.background {
	background-color: #FCFCFC;
	padding-bottom: 10vh;
}
/* ALL CONTENT SHOULD BE WRAPPED INSIDE A ".container" ELEMENT*/
.container {
	/*margin: 8% 2%;*/
	margin-top: 0;
	background-color: #FCFCFC;
	/*background-color: white;*/
}


/* STYLING HOME SCREEN*/
.home-content {
	padding: 10% 20%;
	padding-bottom: 15%;
}
h1.main-title {
	font-size: 4.2rem;
	font-weight: 400;
	color: #fa5914;
	text-align: center;
}
#home-title {
	text-align: left;
}
.color-adjust {
	font-family:'Quattrocento', serif;;
	color: #92a1a8;
}

h2.subtitle {
	font-family: 'Montserrat', 'Helvetica', sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	color: #ff7d45;
	text-align: center;
	padding-top: 1%;
}
p.home-subtitle {
	font-family: 'Montserrat', 'Helvetica', sans-serif;
	font-size: 1.5rem;
	/*color: #666;*/
	color: #92a1a8;
}


/* STYLING PROJECT GRID SHOWCASE */
.project-grid {
	display: flex;
/*	flex-direction: row;
	flex-wrap: nowrap;*/
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
	margin: 0 5%;
}
.project-item {
	width: 50%;
	text-decoration: none;
	color: #fa5914;
	padding: 0 1%;
}
.project-item:hover, .project-item:focus {
	/*color: #58D7F9;*/
	cursor: pointer;
}


h3.project-show-title {
	text-align: center;
	font-size: 2rem;
}

h4.project-show-subtitle {
	text-align: center;
	font-size: 1.4rem;
	font-weight: 300;
}

.footer-container {
	display: flex;
	margin: 5% 0;
	padding: 0  5%;
	background-color: #FCFCFC;
}
.footer-content {
	flex-basis: 50%;
}

.footer-contact {
	color:#666666;
}
.footer-link {
	color: #92a1a8;
	text-decoration: none;
}


/* STYLING FOR ABOUT POPUP */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

p#about {
	font-size: 1.5rem;
	line-height: 2.5rem;
}


/*img.project-showcase {
	width: 100%;
}*/

/* STYLING PROJECT PAGES*/
#project-home {
	padding-bottom: 10%;
}
.project-container {
	padding: 0 20%;
}
.project-content {
	padding: 4% 0;
}
h3.project-page-title {
	font-family: 'Montserrat';
	font-size: 1.6rem;
	font-weight: 400;
	/*padding: 1% 0;*/
	padding-top: 5%;
	color: #555;
}
p.project-text {
	/*color: #666;*/
	color: #92a1a8;
	padding: 3% 0;
	padding-right: 10%;
	font-size: 1.4rem;
	line-height: 2.4rem;
}
img.project-image {
	max-width: 100%;
	box-shadow: 0 0 0.6rem 0.4rem rgba(50, 50, 50, 0.1);
}

img#portrait {
	max-width: 100%;
}


.discord-app-container {
	display: flex;
}
.discord-app-container .discord-sc {
	flex: 50%;
	max-width: 50%;
}
.discord-app-container .discord-sc:first-child {
	margin-right: 1%;
}




/* EXTRAS */


 /*NEW STYLING FOR NAVIGATION MENU*/
nav.nav-bar {
	height: 10vh;
	/*background: #fa5914;*/
	background-color: #FCFCFC;
	/*position: fixed;*/
	width: 100%;
	z-index: 30;
}

ul.nav-links {
	display: flex;
	list-style-type: none;
	width: 50%;
	height: 100%;
	/*background-color: red;*/
	justify-content: space-around;
	align-items: center;
	margin-left: auto;
	z-index: 10;
}

li.grid-main-nav {
	height: 100%;
	flex-basis: 33.33%;
	text-align: center;
	/*margin: auto;*/
	padding: 4% 0;
	text-decoration: none;
	/*color: #FCFCFC;*/
	color: #fa5914;
	transition: 0.3s ease;
}
.grid-main-nav:hover, .grid-main-nav:focus {
/*	background-color: #FCFCFC;
	color: #fa5914;*/
	color: ;
	cursor: pointer;
}

a.nav-anchor {
	text-decoration: none;
	font-size: 1.3rem;
	color: inherit;
	padding: 5% 10%;
}

.underline {
	/*background-image: radial-gradient(#fa5914, #58D7F9);*/
	background-image: radial-gradient(#ffdf2b, #ffdf2b);
	/*background-image: radial-gradient(#58D7F9, #58D7F9);*/
  	background-repeat: no-repeat;
	background-size: 100% 0.5em;
	background-position: 0 110%;
	transition: background-size 0.25s ease-in;
}
.underline:hover{
	background-size: 100% 50%;
}
.underline-project {
	/*background-image: radial-gradient(#fa5914, #58D7F9);*/
	background-image: radial-gradient(#ffdf2b, #ffdf2b);
	/*background-image: radial-gradient(#58D7F9, #58D7F9);*/
  	background-repeat: no-repeat;
	background-size: 100% 0.3em;
	background-position: 0 110%;
	transition: background-size 0.25s ease-in;
}
.project-item:hover > .underline-project{
	background-size: 100% 50%;
	cursor: pointer;
}


/*a.nav-anchor:hover, a.nav-anchor:focus {*/
	/*background-color: #FCFCFC;*/
	/*color: #58D7F9;*/
/*}*/





/* STYLING FOR CONTACT */
.contact {
	position: relative;
	/*min-height: 100vh;*/
	max-width: 100vw;
	padding: 5% 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container-contact {
	width: 100%;
	display: flex; 
	justify-content: center;
	align-items: center;
	margin-top: 5%;
}
.contact-form {
	width: 100%;
	padding: 10%;
	padding-top: 15%;
	/*removed white bg as it was casuing a problem with the email sign up button*/
	/*background: white;*/
}
h4#contact-title {
	color: #fa5914;
	font-size: 1.4rem;
	font-weight: 300;
	padding-left: 2%
}
.input-box-contact {
	position: relative; 
	width: 100%;
	margin-top: 2%;
	padding-left: 2%;
}
.input-box-contact input.contact-input{
	width: 100%;
	padding: 2% 0;
	padding-left: 2%;
	font-size: 1rem;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
}
.input-box-contact textarea {
	width: 100%;
	padding: 4% 0;
	padding-left: 2%;
	font-size: 1rem;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.input-box-contact span {
	left: 0;
	font-size: 1rem;
/*	padding: 4% 0;
	padding-bottom: 10%;*/
	margin: 3% 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}
.input-box-contact input.contact-input:focus ~ span,
.input-box-contact input.contact-input:valid ~ span,
.input-box-contact textarea:focus ~ span,
.input-box-contact textarea:valid ~ span {
	color: #58D7F9;
	font-size: 0.8rem;
	transform: translateY(-1.5rem);
}
.input-box-contact input.contact-input[type="submit"] {
	font-size: 1.2rem;
	font-weight: 500;
	width: 100%;
	color: #fff;
	border: none;
	cursor: pointer;
	background-color: #58D7F9;
	border: 1px solid #FCFCFC;
	transition: 0.4s;
}
.input-box-contact input.contact-input[type="submit"]:hover,
 .input-box-contact input.contact-input[type="submit"]:focus{
	font-size: 1.2rem;
	font-weight: 500;
	width: 100%;
	color: #58D7F9;
	border: 1px solid #58D7F9;
	/*border-radius: 25%;*/
	/*border: none;*/
	cursor: pointer;
	/*padding: 5%;*/
	background-color: #fff;
}
/* STYLING FOR CONTACT END */



/* MOUSE SCROLL ANIMATION ON HOMEPAGE*/
/* from: https://www.youtube.com/watch?v=FdFdP4DDz3M*/
.middle {
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*display: block;*/
}
.mouse {
	opacity: 0.3;
	width: 50px;
	height: 90px;
	border: 2px solid #fa5914;
	border-radius: 30px;
	/*border-radius: 40%;*/
}
.mouse::before {
	content: "";
	width: 9px;
	height: 9px;
	position: absolute;
	top: 65px;
	background: #fa5914;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	opacity: 1;
	animation: mouse 1.4s infinite ease-out;
}
@keyframes mouse {
	from {
		opacity: 0.6;
		top: 65px;
	}
	to {
		opacity: 0;
		top: 15px;
	}

}

/* MOUSE SCROLL ANIMATION END*/

















