* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat';;
}

/* SETTING BACKGROUND COLOR */
.background {
	background-color: #23B2F9;
	/*padding-bottom: 2%;*/
}

.container {
	margin: 8% 2%;
	margin-top: 0;
	background-color: #FCFCFC;
}

h1 {
	font-size: 3.3rem;
	font-weight: 600;
	color: #23B2F9;
}

h2 {
	font-size: 1.5rem;
	font-weight: 400;
	color: #58D7F9;
}

/* STYLING HOME SCREEN*/
.home-content {
	padding: 15% 20%;
}

/* MOUSE SCROLL ANIMATION */
.middle {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
}
.mouse {
	opacity: 0.3;
	width: 50px;
	height: 90px;
	border: 2px solid #23B2F9;
	border-radius: 30px;
	/*border-radius: 40%;*/
}
.mouse::before {
	content: "";
	width: 9px;
	height: 9px;
	position: absolute;
	top: 65px;
	background: #23B2F9;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	opacity: 1;
	animation: mouse 2s infinite;
}
@keyframes mouse {
	from {
		opacity: 1;
		top: 65px;
	}
	to {
		opacity: 0;
		top: 15px;
	}
}


/* STYLING MAIN NAVIGATION BAR */
.nav-container {
	margin: 0 2%;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*background-color: none;*/
	/*position: fixed;*/
	/*top:0;*/
	width: 100%;
}

li.grid-main-nav {
	float: left;
}

li.grid-main-nav a {
	display: block;
	color: #FCFCFC;
	text-align: center;
	padding: 1.5rem 1.5rem;
	text-decoration: none;
	font-size: 1.4rem;
	transition: 0.35s;
}
li.grid-main-nav a:hover, li.grid-main-nav a:focus {
	background-color: #FCFCFC;
	color: #23B2F9;
}

/* STYLING FOR MAIN NAV END*/